<form method="post" action="/kiosk/register">
   <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name" name="name">
  </div>
   <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label>Telephone</label>
    <input type="text" class="form-control" placeholder="Telephone" name="telephone">
  </div>
  <div class="form-group">
    <label>Company</label>
    <input type="text" class="form-control" placeholder="Company" name="company">
  </div>
  <div>
    <input type="checkbox" id="officialvisit" name="officialvisit" />
    <label for="officialvisit">Official Visit</label>
  </div>
  <div>
    <input type="checkbox" id="escortrequired" name="escortrequired" />
    <label for="escortrequired  ">Escort Required</label>
</div>
  <div class="form-group">
    <label>Escort Name</label>
    <input type="text" class="form-control" placeholder="Escort Name" name="escortname">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<style>
.container {
    max-width: 46rem;
    background: url("https://user-images.githubusercontent.com/17266148/33914751-833ba556-df54-11e7-868c-c79e5b503ff7.jpg");
    padding-bottom: 40px;
    border: 10px solid rgba(0, 0, 0, 0.3);
}

.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 12px 28px;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: all 0.15s ease-in-out;
    background-color: #4e81a1;
}

.btn:hover {
    background-color: #9dbbce;
}

.header {
    padding-bottom: 1rem;
    border-bottom: 0px solid #e5e5e5;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    box-shadow: 10px 10px 30px #8a8787;
}
</style>
